@keyframes moveDown {
  100% {
    @include transform(translateY(0));
  }
}

@keyframes flipInX {
  from {
    -webkit-transform: perspective(400px) rotateY(90deg);
    transform: perspective(400px) rotateY(90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  40% {
    -webkit-transform: perspective(400px) rotateY(-20deg);
    transform: perspective(400px) rotateY(-20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  60% {
    -webkit-transform: perspective(400px) rotateY(10deg);
    transform: perspective(400px) rotateY(10deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: perspective(400px) rotateY(-5deg);
    transform: perspective(400px) rotateY(5deg);
  }
  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
    opacity: 1;
  }
}

@keyframes popDown {
  0% {
    @include transform(translateY(-100px));
  }
}

@keyframes slideUp {
  0% {
    top: 0;
    opacity: 100;
  }
  100% {
    top: -100%;
    opacity: 0;
  }
}

@keyframes slideDown {
  0% {
    opacity: 0;
    top: -100%;
  }
  100% {
    opacity: 100;
    top: 0;
  }
}

@keyframes slideInLeft {
  0% {
    left: -100%;
  }
  100% {
    left: 0%;
  }
}

@keyframes slideInRight {
  0% {
    left: 0%;
  }
  100% {
    left: -100%;
  }
}

@keyframes toBottomFromTop {
  49% {
    @include transform(translateY(100%));
  }
  50% {
    opacity: 0;
    @include transform(translateY(-100%));
  }
  51% {
    opacity: 1;
  }
}

@keyframes popIn {
  0% {
    @include transform(scale(0));
  }
  60% {
    opacity: 1;
    @include transform(scale(1.05));
  }
  80% {
    @include transform(scale(0.95));
  }
  100% {
    @include transform(scale(1));
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

// Animations

.waypoint {
  opacity: 0;
}

.slide-in-left {
  animation: slideInLeft .5s ease both;
}

.slide-in-right {
  animation: slideInRight .5s ease both;
}

.slide-up {
  animation: slideUp .5s ease both;
}

.slide-down {
  animation: slideDown .5s ease both;
}

.flip-in-x {
  animation: flipInX .75s ease both;
}

.pop-in {
  animation: popIn .75s ease both;
}

// .fade-in {
//   animation: fadeIn .75s ease both;
// }

// .fade-out {
//   animation: fadeOut .75s ease both;
// }
